<head>
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Referrer-Policy" content="no-referrer" />
  <meta name="referrer" content="no-referrer" />
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <title>{{ page.title | escape }}</title>

  <link rel="stylesheet" href="{{ "/assets/fonts.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/github.css" | relative_url }}" />
  <link rel="canonical" href="{{ page.url | replace:"index.html","" | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}" />

  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>
